<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dr.CINNAMON - Cinnamon Plant Disease Detection</title>
    <link rel="icon" href="{{ url_for('image_file', filename='cinnamon.png') }}" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    
  </head>
  <body>

<!-- Navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-success">
  <a class="navbar-brand pl-5" href="/">Dr. CINNAMON</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto pr-5">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feedback">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Fertilizer</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Navbar End -->


<!-- Hero Section  -->
<div class="hero-section">
      <div class="hero-content">
        <h1>Welcome to Dr.CINNAMON</h1>
        <p class="p">Click the Get Start button for the Detect the Cinnamon Plant Diseases</p>
        <a class="button" href="/detect">GET STARTED</a>
      </div>
</div>
 <!-- Hero Section  -->

 <!-- About Us Section  -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12 pd-3 mt-4 ">
            <div class="about-img">
            <img class="ab-img" src="{{ url_for('image_file', filename='quill-making.jpg') }}" alt='admin img' />
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-12 ps-lg-2 ">
            <div class="about-text">
            <h2 class="pb-3 text-center display-5 font-weight-bold">About Us</h2>
            <p>Welcome to Dr. CINNAMON, your trusted partner in maintaining healthy cinnamon crops in Sri Lanka. 
              Using advanced AI technology, we specialize in detecting and diagnosing cinnamon stem and branch 
              diseases like Rough Bark and Stripe Canker. Our comprehensive solution includes an AI-based disease 
              detection service and an online fertilizer store, helping planters identify and treat diseases while 
              ensuring their crops receive essential nutrients. We're committed to enhancing the cinnamon industry by 
              blending technology with traditional farming practices.</p>

            </div>
        </div>
    </div>
</div>
<!-- About Us Section  -->

<!-- Display Feedback section -->
<div class="container mt-5 pt-3" style="max-width: 800px;">
  <h3 class="text-center font-weight-bold"><i>Client Feedbacks</i></h3>
  <div class="row">
    <div class="col-12">
       <div id="feedbackCarousel" class="carousel slide mt-3 border border-dark" style="border-radius: 10px;" data-ride="carousel">
<div class="carousel-inner">
    {% for feedback in feedback_list %}
        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
            <div class="d-block w-100 p-4" style="background-color: rgba(4, 241, 55, 0.296); border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <h6 class="text-center">{{ feedback[0] }}</h6>
                <p class="font-weight-bold text-center" style="font-size: 20px;">{{ feedback[1] }}</p>
            </div>
        </div>
    {% endfor %}
</div>
<a class="carousel-control-prev" href="#feedbackCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#feedbackCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>
</div>
</div>
</div> 
</div>
<!-- Display Feedback section -->



<!-- Fertilizer Section -->
<div class="our-team container mt-5 mb-5">
  <h3 class="text-center display-6 font-weight-bold pt-3">Cinnamon Fertilizer</h3>
    <div class="row justify-content-center">
      <p class="lead pt-3 text-center">You can purchase these Fertilizer from our online store</p>
    </div>
  <div class="row pt-4 mb-5">
    <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card shadow">
                <img  class="card-img" src="{{ url_for('image_file', filename='C-U.png') }}" alt='admin img' />
                  <div class="card-body text-center">
                    <h5 class="card-title text-center font-weight-bold pb-2">Cinnamon (U)</h5>
                    <a href="/products" class="btn btn-outline-success">See More</a>
                  </div>
                 </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card shadow">
                <img class="card-img"  src="{{ url_for('image_file', filename='Nitrogen.png') }}" alt='doctor img'/>
                  <div class="card-body text-center">
                    <h5 class="card-title text-center font-weight-bold pb-2">UREA</h5>
                    <a href="/products" class="btn btn-outline-success">See More</a>
                  </div>
                 </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card shadow">
                 <img  class="card-img" src="{{ url_for('image_file', filename='C-Super.png') }}" alt='tech img'/> 
                  <div class="card-body text-center">
                    <h5 class="card-title text-center font-weight-bold pb-2">Cinnamon Supper</h5>
                    <a href="/products" class="btn btn-outline-success">See More</a>
                  </div>
                 </div>
                </div>
    </div>
</div>
 <!-- Fertilizer Section  -->

  


<!-- Services Section  -->
<div class="container mt-5 mb-5">
<h3 class="text-center display-6 font-weight-bold pt-4">Our Servieses</h3>
  <div class="row pt-3">
    <div class="col-md-4">
     <ul class="responsive-list">
        <li class="responsive-list-item shadow">Detect the Diseases Using AI</li>
        <li class="responsive-list-item shadow">Share the Plantation Tips</li>
    
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="responsive-list">
        <li class="responsive-list-item shadow">Treatment Recommendation</li>
        <li class="responsive-list-item shadow">Provides the Crop Increase Informations</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="responsive-list">
        <li class="responsive-list-item shadow">Online Fertilizer Store</li>
        <li class="responsive-list-item shadow">24 x 7 Service</li>
      </ul>
    </div>
  </div>
</div>
 <!-- Services Section  -->


 <!-- Footer Section -->
 <footer class=" text-lg-start text-white">
  <div class="p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class=" mb-4 font-weight-bold" style="color: black;">
            Dr. CINNAMON
          </h6>
          <p class="text-justify">
            Identify Your Cinnamon Diseases using AI. You can purchase the best fertilizer product by our online store.
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">Services</h6>
          <p>
            <a class="text-white">Detect the Diseases Using AI</a>
          </p>
          <p>
            <a class="text-white">Treatment Recommendation</a>
          </p>
          <p>
            <a class="text-white">Online Fertilizer Store</a>
          </p>
          <p>
            <a class="text-white">24 x 7 Service</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">
            Benifits
          </h6>
          <p>
            <a class="text-white">Using Advanced AI Technology</a>
          </p>
          <p>
            <a class="text-white">Online Payments</a>
          </p>
          <p>
            <a class="text-white">Easy to Access</a>
          </p>
          <p>
            <a class="text-white">Help</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: black;">Contact Us</h6>
          <p>Dr.CINNAMON No 138, Galle, Sri Lanka</p>
          <p>drcinnamon@gmail.com</p>
          <p>091 234 5678</p>
          <p>091 234 5679</p>
        </div>
        
      </div>
      
    </section>

    <section class="p-1 pt-0">
      <div class="row d-flex justify-content-center border-top">
        
        <div class="col-12">
         
          <div class="p-3 text-center">
            © 2024 Copyright: <a class="text-white decaration-none" href="#"
               >DrCinnamon.com. Done By Pasan Pethangoda (CL/BSCSD/27/47)</a>
          </div>
          
        </div>
      
      </div>
    </section>
    
  </div>

</footer>

 <!-- Footer Section -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
